<!DOCTYPE html>
<html lang="en" ng-app="NoteWrangler">

  <head>
    <meta charset="utf-8">
    <title>Note Wrangler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/application.css" />
  </head>

  <body>
    <div class="nav-wrapper has-dropdown">
      <div class="nav-content">
        <div class="wrapper">
          <div class="nav-content-layout">
            <div class="nav-list">

              <a href="#/"
              class="list-item"
              ng-click="selected = 'notes'"
              ng-class="{'active': selected == 'notes'}"> Notes </a>

              <a href="#/users"
              class="list-item"
              ng-click="selected = 'users'"
              ng-class="{'active': selected == 'users'}"> Users </a>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-wrapper">
      <div class="hero-content">
        <div class="hero"></div>
      </div>
    </div>

    <div class="main-wrapper">
      <div ng-view></div>
    </div>

    <!-- Load Js libs -->
    <script src="./vendor/jquery/dist/jquery.min.js"></script>
    <script src="./vendor/angular/angular.js"></script>
    <script src="./vendor/angular-route/angular-route.js"></script>
    <script src="./vendor/angular-resource/angular-resource.js"></script>
    <script src="./js/app.js"></script>

    <!-- Controllers -->
    <script src="./js/controllers/notes-create-controller.js"></script>
  </body>
</html>
